button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	padding: 0;
	border: none;
	border-radius: 5px;
	text-decoration: none;
}

button:hover {
	cursor: pointer;
}
