@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Radio+Canada&family=Roboto&display=swap");

body {
	height: 100vh;
}

main,
#root,
#app {
	height: 100%;
	width: 100%;
}

#app {
	display: grid;
	grid-template-rows: 1fr 30px;
}

#main {
	display: grid;
	grid-template-columns: 300px 1fr;
	height: 100%;
}

main {
	display: grid;
	grid-template-rows: 50px 1fr;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #5e5e5e;
	border-radius: 4px;
}

::-webkit-scrollbar-track-piece:end {
	background: #858585;
	margin-bottom: 2px;
	border-radius: 4px;
}

::-webkit-scrollbar-track-piece:start {
	background: #858585;
	margin-top: 2px;
	border-radius: 4px;
}
